@charset "UTF-8";

.btnControl {
  text-align:center;
  font-size:0;
  margin-top:40px;
  width: 100%;
  @include clearFix();
  .-right,&.-right {
    text-align:right;
  }
  .-left {
    text-align:left;
  }
  .btn {
    &:not(:first-of-type) {
      margin-left:19px;
    }
    &+.btn {margin-left:5px}
  }
  &.-border {
    border-top:1px solid #ddd;
    margin-top:70px;
    padding-top:40px;
    width:100%;
  }
  &__inner {
    width:1100px;
    margin:0 auto;
    padding-left:255px;
  }
}
