* {margin:0;padding:0;box-sizing:border-box}
/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
body {background:#fff}
body,th,td,input,select,textarea,button {font-family:'notokr-regular',sans-serif;font-weight:400;} /* color값은 디자인가이드에 맞게사용 */
a {color:#333;text-decoration:none}
i {font-style:normal}
a:active, a:hover {text-decoration:none}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
h1,h2,h3,h4,h5 {font-family: 'notokr-regular',sans-serif;font-weight:400;}

//애플관련
input {
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}
//웹접근성 문제가 있음.
[tabindex],a,textarea,button,input {
  &:focus {outline: none;}
}

pre {
  font-size: 16px;
  font-family:'notokr-regular',sans-serif;font-weight:400;
  white-space: normal;
}