@charset "UTF-8";

.subTab {
  width:100%;
  text-align:center;
  font-size:0;
  padding:50px 0;
  &__nav {margin-bottom:30px;}
  &__item {
    color:$silver;
    font-size:20px;
    letter-spacing: -0.5px;
    border-bottom:2px solid transparent;
    position:relative;
    @include font("bold");
    &:not(:first-of-type) {
      margin-left:54px;
      &:before {
        content:"";
        width:1px;
        height:16px;
        position:absolute;
        display:inline-block;
        background:#ccc;
        bottom:5px;
        left:-26px;
      }
    }
    &.-active {
      border-color:$medium-blue;
      color:$black-three
    }
  }
}