@charset "UTF-8";
.topVisual {
  width:100%;
  min-width:1100px;
  height:166px;
  background-position: top center;
  background-repeat: no-repeat;
  background-image:
          url("/images/top_banner/sample_top_bg.png"),
          linear-gradient(#233058, #243058);
  box-shadow: inset 0 3px 5px rgba(0,0,0,.3);
  color:#fff;
  display:flex;
  flex-direction: column;
  &__tit {
    line-height:1;
    text-align:center;
    flex:1;
    @include before-middle;
    @include font("medium");
    letter-spacing: -1px;
  }
}
.topVisual.-tchr {
  .topVisual__tit {
    border-bottom:1px solid rgba(255,255,255,0.16);
  }
  .snb {
    width: 1100px;
    margin: 0 auto;
    border-top:0;
    &__inner {
      float: left;
      +.tchrTopLine {
        width: auto;
        margin-top: -6px;
      }
    }

  }
  .tchrTopLine {
    width: 1100px;
    text-align: right;
    display: inline-block;
    float: right;
    margin: 10px auto;

  }
}

.tchrTopLine {
display: none;
  &__item {
    @include font("light");
    &:first-of-type {
      &:before {
        content: "";
        display: inline-block;
        background: url("../images/trainingAnaly/icon_timeLine_user.png");
        width: 18px;
        height: 20px;
        vertical-align: middle;
        margin-right: 5px;
      }
    }
    + .tchrTopLine__item {
      &:before {
        content: "";
        display: inline-block;
        background: url("../images/trainingAnaly/icon_timeLine_arrow.png");
        width: 14px;
        height: 14px;
        margin: 0 10px;
        vertical-align: middle;
      }
    }
  }
  &__btn {
    background: #5398db;
    width: 110px;
    height: 30px;
    font-size: 15px;
    text-align: center;
    color: #fff;
    line-height: 30px;
    border-radius: 15px;
    margin-left: 15px;
  }
  &Pop {
    .moviePopup__inner {
      width: 1100px;
    }
    .bigDataCompare__inpBox,
    .bigDataCompare__txt {
      margin-top: 0;
    }
    .bigDataCompare__txt {
      margin-right: 18px;
    }
    .bigDataCompare__tit {
      text-align: left;
      width: auto;
      margin-right: 15px;
      margin-top: 0;
      margin-left: 10px;
      &:first-of-type {
        margin-left: 0;
      }

    }
    .bigDataCompare__inpBox {
      display: inline-block;
    }
    &__searchBtn {
      border-radius: 0;
      width: 226px;
      height: 54px;
    }
    .selectBox {
      height: 56px;
      .selectBox__inp {
        height: 54px;
      }
    }
    .bbsList__count {
      margin-top: 50px;
    }
    .moviePopup__content {
      padding: 38px 37px 51px;
    }
    .bbs td {
      height: 60px;
    }
    .selectBox .iconSelectBox {
      top:20px;
      right: 20px;
    }


  }
}